/* Conteiner */

.conteiner {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

/* info */

.info {
    margin-bottom: 20px;
    display: flex;
}

/* avatar */

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
    overflow: hidden;
    margin: 0px
}

/* Font body */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: bisque;
    font-family: "Roboto", sans-serif;
    font-size: 14px;

}


/* Color h3*/

.colorh3 {
    color:rgb(218, 33, 39);

}

/* Card */

.card {
    border: solid;
    border-radius: 5%;
    background-color: burlywood;
    border-color: burlywood;
    padding-left: 2%;
}

/* Button */

.btn {
    background: rgb(235, 106, 106);
    cursor: pointer;
    
    font-family: inherit;
    border-radius: 5px;
}

.btn:hover {
    opacity: .8;
    color: rgb(10, 28, 219);
}

/* Button Center */

.btncenter {
    text-align: center;
}

/* a */

a {
    color: rgb(169, 10, 175);
    text-decoration: none;
}

